<div class="w-full">
  <div class="flex items-center justify-end mt-4 mr-4 relative">
    <div class="absolute top-4 left-1/2 -translate-x-1/2 text-3xl font-bold text-blue-500 text-center">
      Hệ thống sấy khô
    </div>
    <div>
      <button class=" top-0 right-0 px-5 py-2 rounded-md bg-blue-600 text-white font-semibold hover:bg-blue-400"
        (click)="signOut()">
        Đăng xuất
      </button>
    </div>
  </div>

  <div class="w-full flex justify-center flex-col">
    <div class="flex flex-col justify-center mt-14 py-8 mx-6">
      <div class="mx-6 flex items-center gap-4">
        <div class="w-1/4 flex flex-col relative bg-blue-100 rounded-md p-4 shadow-md">
          <img src="/assets/images/high-temperature.png" alt="" class="w-10 h-10">
          <span class="mb-3 inline-block text-lg font-medium">Nhập nhiệt độ sấy tối đa</span>
          <input type="number" class="outline-none border border-gray-400 rounded-md px-3 py-2 w-full" placeholder="70"
            [(ngModel)]="tempDry">
          <span class="absolute top-[106px] right-8 text-sm font-normal text-gray-800">( °C )</span>
        </div>
        <div class="w-1/4 flex flex-col relative bg-blue-100 rounded-md p-4  shadow-md">
          <img src="/assets/images/low-temperature.png" alt="" class="w-10 h-10">
          <span class="mb-3 inline-block text-lg font-medium">Nhập nhiệt độ sấy tối thiểu</span>
          <input type="number" class="outline-none border border-gray-400 rounded-md px-3 py-2 w-full" placeholder="50"
            [(ngModel)]="tempDryMin">
          <span class="absolute top-[106px] right-8 text-sm font-normal text-gray-800">( °C )</span>
        </div>
        <div class="w-1/2 flex flex-col relative bg-blue-100 rounded-md p-4  shadow-md">
          <img src="/assets/images/chronometer.png" alt="" class="w-10 h-10">
          <span class="mb-3 inline-block text-lg font-medium">Nhập thời gian sấy</span>
          <input type="number" class="outline-none border border-gray-400 rounded-md px-3 py-2 w-full" placeholder="10"
            [(ngModel)]="timeDry">
          <span class="absolute top-[106px] right-8 text-sm font-normal text-gray-800">( phút )</span>
        </div>
      </div>
      <div class="mt-10 flex justify-center">
        <button class="px-10 py-3 rounded-md bg-blue-600 text-white font-medium text-lg"
          [ngClass]="isDisabledButtonStart ? 'pointer-events-none opacity-40' : ''" (click)="startDrySystem()">Bắt đầu
          sấy</button>
      </div>
    </div>
    <div class="mt-5 rounded-xl mx-10 mb-20">
      <div class="w-full mb-10 flex">
        <div class="w-1/3 pl-5 border-r border-gray-100">
          <h1 class="font-semibold text-black text-3xl text-center mt-5">Thông tin tiết lập</h1>
          <div class="px-5 gap-10">
            <div class="my-8 p-4 rounded-xl bg-gray-100 shadow-xl flex flex-col items-center">
              <p class="text-lg text-black font-semibold">Thời gian thiết lập</p>
              <img src="/assets/images/chronometer.png" alt="" class="w-16 h-16 my-4">
              <span class="text-xl text-black font-semibold">{{timeDryDisplay }} phút</span>
            </div>
            <div class="my-6 p-4 rounded-xl bg-gray-100 shadow-xl flex flex-col items-center">
              <p class="text-lg text-black font-semibold">Nhiệt độ thiết lập</p>
              <img src="/assets/images/cur-temperature.png" alt="" class="w-16 h-16 my-4">
              <span class="text-xl text-black font-semibold">{{system?.[2]?.value}} °C</span>
            </div>
          </div>
        </div>
        <div class="w-2/3 px-5">
          <h1 class="font-semibold text-black text-3xl text-center mt-5">Thông tin hệ thống hiện tại</h1>
          <div class="flex items-stretch gap-10 justify-center flex-wrap">
            <div class="my-6 p-4 w-[250px] rounded-xl bg-blue-50 shadow-xl flex flex-col items-center">
              <p class="text-lg text-black font-semibold">Thời gian sấy còn lại</p>
              <img src="/assets/images/stopwatch.png" alt="" class="w-16 h-16 my-4">
              <span class="text-xl text-black font-semibold">{{timeDisplay }}</span>
            </div>
            <div class="my-6 p-4 w-[250px] rounded-xl bg-blue-50 shadow-xl flex flex-col items-center">
              <p class="text-lg text-black font-semibold">Nhiệt độ hiện tại</p>
              <img src="/assets/images/temperature.png" alt="" class="w-16 h-16 my-4">
              <span class="text-xl text-black font-semibold">{{sensorsValue?.[4]?.value}}</span>
            </div>
            <div class="my-6 p-4 w-[250px] rounded-xl bg-blue-50 shadow-xl flex flex-col items-center">
              <p class="text-lg text-black font-semibold">Độ ẩm hiện tại</p>
              <img src="/assets/images/humidity.png" alt="" class="w-16 h-16 my-4">
              <span class="text-xl text-black font-semibold">{{sensorsValue?.[5]?.value}}</span>
            </div>
            <div class="my-6 p-4 w-[250px] rounded-xl bg-blue-50 shadow-xl flex flex-col items-center">
              <p class="text-lg text-black font-semibold">Độ ẩm hiện tại</p>
              <img src="/assets/images/humidity.png" alt="" class="w-16 h-16 my-4">
              <span class="text-xl text-black font-semibold">{{sensorsValue?.[5]?.value}}</span>
            </div>
          </div>
          <div class="flex justify-center mt-5">
            <label class="relative inline-flex items-center mb-5 cursor-pointer">
              <input type="checkbox" [ngModel]="system?.[0]?.value" class="sr-only peer"
                (ngModelChange)="changeIsAutoSystem($event)">
              <div
                class="w-20 h-8 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-12 rtl:peer-checked:after:-translate-x-12 peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-7 after:h-7 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
              </div>
              <span class="ms-3 text-xl font-medium text-gray-900">Tự động (Tắt tự động để điều khiển
                động cơ)</span>
            </label>
          </div>
          <div class="flex items-center justify-center gap-20">
            <div class="my-6 p-4 w-[250px] rounded-xl bg-blue-50 shadow-xl flex flex-col items-center">
              <img src="/assets/images/cogwheel-setting.png" alt="" class="w-16 h-16 my-4"
                [class.animate-spin]="sensorsValue?.[1]?.value">
              <p class="text-lg text-black font-semibold my-2">Bật/tắt động cơ sấy</p>
              <label class="relative inline-flex items-center mb-5 cursor-pointer"
                [ngClass]="system?.[0]?.value ? 'opacity-60 pointer-events-none' : 'opacity-100 pointer-events-auto'">
                <input type="checkbox" [ngModel]="sensorsValue?.[1]?.value" class="sr-only peer"
                  [disabled]="system?.[0]?.value" (ngModelChange)="changeDryDevice($event)">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                </div>
                <span class="ms-3 text-sm font-medium text-black">
                  {{sensorsValue?.[1]?.value ? 'Bật' : 'Tắt'}}
                </span>
              </label>
            </div>
            <div class="my-6 p-4 w-[250px] rounded-xl bg-blue-50 shadow-xl flex flex-col items-center">
              <img src="/assets/images/cooler.png" alt="" class="w-16 h-16 my-4 "
                [class.animate-spin]="sensorsValue?.[2]?.value">
              <p class="text-lg text-black font-semibold my-2">Bật/tắt quạt</p>
              <label class="relative inline-flex items-center mb-5 cursor-pointer"
                [ngClass]="system?.[0]?.value ? 'opacity-60 pointer-events-none' : 'opacity-100 pointer-events-auto'">
                <input type="checkbox" [disabled]="system?.[0]?.value" [ngModel]="sensorsValue?.[2]?.value"
                  class="sr-only peer" (ngModelChange)="changeFanDevice($event)">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                </div>
                <span class="ms-3 text-sm font-medium text-black">
                  {{sensorsValue?.[2]?.value ? 'Bật' : 'Tắt'}}
                </span>
              </label>
            </div>
          </div>
        </div>

      </div>
      <div class="mt-2 flex justify-center">
        <button [ngClass]="!isDisabledButtonStart ? 'pointer-events-none opacity-40' : ''"
          class="px-10 py-3 rounded-md bg-blue-600 text-white font-medium text-lg" (click)="endDrySystem()">Dừng
          sấy</button>
      </div>
    </div>
  </div>

</div>