<div class="w-full">
  <div class="flex items-center justify-end mt-4 mr-4 relative">
    <div class="absolute top-4 left-1/2 -translate-x-1/2 text-3xl font-semibold text-blue-500 text-center">
      Hệ thống sấy khô
    </div>
    <div>
      <button class=" top-0 right-0 px-5 py-2 rounded-md bg-blue-600 text-white font-semibold hover:bg-blue-400"
        (click)="signOut()">
        Đăng xuất
      </button>
    </div>
  </div>
  <ng-container *ngIf="!isStartDrying; else dryingTemplate">
    <div class="w-full flex justify-center mt-20">
      <div class="w-full max-w-[500px] mx-6">
        <div class="flex flex-col relative">
          <span class="mb-3 inline-block">Nhập thời gian giấy</span>
          <input type="number" class="outline-none border border-gray-400 rounded-md px-3 py-2 w-full" placeholder="10"
            [(ngModel)]="timeDry">
          <span class="absolute top-12 right-8 text-sm font-normal text-gray-800">( phút )</span>
        </div>
        <div class="flex flex-col mt-6 relative">
          <span class="mb-3 inline-block">Nhập nhiệt độ sấy</span>
          <input type="number" class="outline-none border border-gray-400 rounded-md px-3 py-2 w-full" placeholder="70"
            [(ngModel)]="tempDry">
          <span class="absolute top-12 right-8 text-sm font-normal text-gray-800">( °C )</span>
        </div>
        <div class="mt-10 flex justify-center">
          <button class="px-10 py-3 rounded-md bg-blue-600 text-white font-medium text-lg"
            (click)="startDrySystem()">Bắt đầu sấy</button>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-template #dryingTemplate>

    <div class="w-full flex justify-center mt-20">
      <div class="w-full max-w-[500px] mx-6">
        <p>Thời gian sấy: {{timeCountDown}}</p>
        <div class="my-6">
          <p class="text-lg text-gray-900 font-semibold">Nhiệt độ : {{sensorsValue?.[2]?.value}}</p>
        </div>
        <div class="my-6">
          <p class="text-lg text-gray-900 font-semibold">Độ ẩm : {{sensorsValue?.[1]?.value}}</p>
        </div>

        <div class="mt-10 flex justify-center">
          <button class="px-10 py-3 rounded-md bg-blue-600 text-white font-medium text-lg" (click)="endDrySystem()">Dừng
            sấy</button>
        </div>
      </div>
    </div>

  </ng-template>
</div>