<div class="w-full">
  <div class="flex items-center justify-end mt-4 mr-4 relative">
    <div
      class="absolute top-12 md:top-4 left-1/2 -translate-x-1/2 text-xl md:text-3xl font-bold text-blue-500 text-center ">
      Hệ thống sấy khô
    </div>
    <div>
      <button class=" top-0 right-0 px-5 py-2 rounded-md bg-blue-600 text-white font-semibold hover:bg-blue-400"
        (click)="showPopupSignOut()">
        Đăng xuất
      </button>
    </div>
  </div>

  <div class="w-full flex justify-center flex-col">
    <div class="flex flex-col justify-center mt-10 md:mt-14 pt-0 pb-6 md:py-8 mx-6">
      <div class="mt-10 flex justify-center flex-col md:flex-row">
        <button class="px-10 py-3 rounded-md font-medium text-lg md:mr-10"
          [ngClass]="!isAutoDrying ? 'bg-gray-100 text-black' : ' bg-blue-600 text-white'" (click)="changeToAuto()">Tự
          động</button>
        <button class="px-10 py-3 rounded-md  font-medium text-lg mt-10 md:mt-0"
          [ngClass]="isAutoDrying ? 'bg-gray-100 text-black ' : 'bg-blue-600 text-white'" (click)="changeToUnAuto()">Thủ
          công</button>
      </div>
      <div *ngIf="isAutoDrying">
        <div class="mx-6 my-5 md:my-10 flex flex-col md:flex-row items-center gap-10">

          <div class="w-full md:w-1/3 flex flex-col relative bg-blue-100 rounded-md p-4 shadow-md">
            <img src="/assets/images/high-temperature.png" alt="" class="w-10 h-10">
            <span class="mb-3 inline-block text-lg font-medium">Nhập nhiệt độ sấy</span>
            <input type="number" class="outline-none border border-gray-400 rounded-md px-3 py-2 w-full"
              placeholder="Ví dụ: 70" [(ngModel)]="tempDry">
            <span class="absolute top-[106px] right-8 text-sm font-normal text-gray-800">( °C )</span>
          </div>
          <div class="w-full md:w-1/3 flex flex-col relative bg-blue-100 rounded-md p-4  shadow-md">
            <img src="/assets/images/chronometer.png" alt="" class="w-10 h-10">
            <span class="mb-3 inline-block text-lg font-medium">Nhập thời gian sấy</span>
            <input type="number" class="outline-none border border-gray-400 rounded-md px-3 py-2 w-full"
              placeholder="Ví dụ: 10" [(ngModel)]="timeDry">
            <span class="absolute top-[106px] right-8 text-sm font-normal text-gray-800">( phút )</span>
          </div>

          <div class="w-full md:w-1/3 flex flex-col relative bg-blue-100 rounded-md p-4  shadow-md">
            <img src="/assets/images/humidity.png" alt="" class="w-10 h-10">
            <span class="mb-3 inline-block text-lg font-medium">Nhập độ ẩm sấy</span>
            <input type="number" class="outline-none border border-gray-400 rounded-md px-3 py-2 w-full"
              placeholder="Ví dụ: 10" [(ngModel)]="humidityDry">
            <span class="absolute top-[106px] right-8 text-sm font-normal text-gray-800">( % )</span>
          </div>
        </div>
        <div class="flex justify-center">
          <button class="px-10 py-3 rounded-md  font-medium text-lg mt-10 md:mt-0 bg-green-600 text-white"
            [ngClass]="system?.[1]?.value ? 'hidden' : 'block'" (click)="startDrySystem()">Bắt đầu tự động</button>
        </div>
      </div>
    </div>
    <div class="mt-5 rounded-xl mx-2 md:mx-10 mb-20" id="content">
      <div class="w-full mb-10 flex flex-col md:flex-row">
        <div class="w-full md:w-1/3 md:pl-5 md:border-r md:border-gray-100" *ngIf="system?.[1]?.value">
          <h1 class="font-semibold text-black text-3xl text-center mt-5">Thông tin tiết lập</h1>
          <div class="px-5 md:gap-10 flex flex-wrap md:block justify-center md:justify-start items-stretch">
            <div
              class="w-[46%] md:w-full my-6 p-4 rounded-xl bg-gray-100 shadow-xl flex flex-col items-center mr-5 md:mr-0">
              <p class="text-sm md:text-lg text-black font-semibold text-center">Thời gian thiết lập</p>
              <img src="/assets/images/chronometer.png" alt="" class="w-10 h-10 md:w-16 md:h-16 my-4">
              <span class="text-xl text-black font-semibold">{{timeDryDisplay }} phút</span>
            </div>
            <div class="w-[46%] md:w-full my-6 p-4 rounded-xl bg-gray-100 shadow-xl flex flex-col items-center">
              <p class="text-sm md:text-lg text-black font-semibold text-center">Nhiệt độ thiết lập</p>
              <img src="/assets/images/cur-temperature.png" alt="" class="w-10 h-10 md:w-16 md:h-16 my-4">
              <span class="text-xl text-black font-semibold">{{system?.[2]?.value}} °C</span>
            </div>
            <div class="w-[46%] md:w-full my-6 p-4 rounded-xl bg-gray-100 shadow-xl flex flex-col items-center">
              <p class="text-sm md:text-lg text-black font-semibold text-center">Độ ẩm thiết lập</p>
              <img src="/assets/images/humidity.png" alt="" class="w-10 h-10 md:w-16 md:h-16 my-4">
              <span class="text-xl text-black font-semibold">{{humidityDry}} %</span>
            </div>
          </div>
        </div>
        <div class="w-full md:w-2/3 px-5" [ngClass]="!system?.[1]?.value ? 'md:w-full' : ''">
          <h1 class="font-semibold text-black text-3xl text-center mt-5">Thông tin hệ thống hiện tại</h1>
          <div class="flex items-stretch gap-4 md:gap-10 justify-center flex-wrap mt-5 md:mt-0">
            <div
              class="mb-0 md:my-6 p-4 w-[120px] md:w-[250px] rounded-xl bg-blue-50 shadow-xl flex flex-col items-center"
              *ngIf="system?.[1]?.value">
              <p class="text-sm md:text-lg text-black font-semibold text-center">Thời gian sấy còn lại</p>
              <img src="/assets/images/stopwatch.png" alt="" class="w-10 h-10 md:w-16 md:h-16  my-4">
              <span class="text-xl text-black font-semibold">{{timeDisplay }}</span>
            </div>
            <div
              class="mb-0 md:my-6 p-4 w-[120px] md:w-[250px]  rounded-xl bg-blue-50 shadow-xl flex flex-col items-center">
              <p class="text-sm md:text-lg text-black font-semibold text-center">Nhiệt độ hiện tại</p>
              <img src="/assets/images/temperature.png" alt="" class="w-10 h-10 md:w-16 md:h-16  my-4">
              <span class="text-xl text-black font-semibold">{{sensorsValue?.[5]?.value}} °C</span>
            </div>
            <div
              class="mt-2 md:my-6 p-4 w-[120px] md:w-[250px]  rounded-xl bg-blue-50 shadow-xl flex flex-col items-center">
              <p class="text-sm md:text-lg text-black font-semibold text-center">Độ ẩm hiện tại</p>
              <img src="/assets/images/humidity.png" alt="" class="w-10 h-10 md:w-16 md:h-16  my-4">
              <span class="text-xl text-black font-semibold">{{sensorsValue?.[4]?.value}} %</span>
            </div>
          </div>
          <div class="flex items-stretch justify-center gap-4 md:gap-20">
            <div class="my-6 p-4 w-[150px] md:w-[250px] rounded-xl bg-blue-50 shadow-xl flex flex-col items-center">
              <img src="/assets/images/cogwheel-setting.png" alt="" class="w-10 h-10 md:w-16 md:h-16  my-4"
                [class.animate-spin]="sensorsValue?.[1]?.value">
              <p class="text-sm md:text-lg text-black font-semibold my-2 text-center">Bật/tắt động cơ sấy</p>
              <label class="relative inline-flex items-center mb-5 cursor-pointer"
                [ngClass]="system?.[0]?.value ? 'opacity-60 pointer-events-none' : 'opacity-100 pointer-events-auto'">
                <input type="checkbox" [ngModel]="sensorsValue?.[1]?.value" class="sr-only peer"
                  [disabled]="system?.[0]?.value" (ngModelChange)="changeDryDevice($event)">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                </div>
                <span class="ms-3 text-sm font-medium text-black">
                  {{sensorsValue?.[1]?.value ? 'Bật' : 'Tắt'}}
                </span>
              </label>
              <!-- <p *ngIf="warningDevice" class="text-red-500 text-xl font-semibold">Động cơ đang gặp vấn đề!</p> -->
            </div>
            <div class="my-6 p-4 w-[150px] md:w-[250px] rounded-xl bg-blue-50 shadow-xl flex flex-col items-center">
              <img src="/assets/images/cooler.png" alt="" class="w-10 h-10 md:w-16 md:h-16  my-4 "
                [class.animate-spin]="sensorsValue?.[2]?.value">
              <p class="text-sm md:text-lg text-black font-semibold my-2">Bật/tắt quạt</p>
              <label class="relative inline-flex items-center mb-5 cursor-pointer"
                [ngClass]="system?.[0]?.value ? 'opacity-60 pointer-events-none' : 'opacity-100 pointer-events-auto'">
                <input type="checkbox" [disabled]="system?.[0]?.value" [ngModel]="sensorsValue?.[2]?.value"
                  class="sr-only peer" (ngModelChange)="changeFanDevice($event)">
                <div
                  class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                </div>
                <span class="ms-3 text-sm font-medium text-black">
                  {{sensorsValue?.[2]?.value ? 'Bật' : 'Tắt'}}
                </span>
              </label>
              <!-- <p *ngIf="visiblePopupWarning" class="text-red-500 text-xl font-semibold">Quạt đang gặp vấn đề!</p> -->
            </div>

          </div>
          <div class="w-full flex justify-center" *ngIf="system?.[0]?.value">
            <button class="mt-5 px-10 py-3 rounded-md bg-red-500 text-white font-medium text-lg"
              (click)="showPopup()">Dừng</button>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<!-- Popup stop -->

<div class="fixed top-0 left-0 w-full h-screen bg-[rgba(0,0,0,0.6)]" *ngIf="visiblePopupConfirm" (click)="hidePopup()">
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-[300px] md:max-w-[400px] w-full rounded-md bg-white shadow-md py-5">
    <p class="text-center mt-6 text-lg text-black font-semibold">Bạn có chắc chắn muốn dừng hệ thống</p>
    <div class="flex items-center gap-10 justify-center mt-4">
      <button class="px-6 py-2 rounded-md bg-gray-100 border border-gray-400 text-black"
        (click)="hidePopup()">Huỷ</button>
      <button class="px-6 py-2 rounded-md bg-blue-500 text-white" (click)="endDrySystem()">Dừng</button>
    </div>
  </div>
</div>

<div class="fixed top-0 left-0 w-full h-screen bg-[rgba(0,0,0,0.6)]" *ngIf="visiblePopupSignOut"
  (click)="hidePopupSignOut()">
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-[300px] md:max-w-[400px] w-full rounded-md bg-white shadow-md py-5">
    <p class="text-center mt-6 text-lg text-black font-semibold">Bạn có chắc chắn muốn đăng xuất?</p>
    <div class="flex items-center gap-10 justify-center mt-4">
      <button class="px-6 py-2 rounded-md bg-gray-100 border border-gray-400 text-black"
        (click)="hidePopupSignOut()">Huỷ</button>
      <button class="px-6 py-2 rounded-md bg-blue-500 text-white" (click)="signOut()">Đăng xuất</button>
    </div>
  </div>
</div>

<div class="fixed top-0 left-0 w-full h-screen bg-[rgba(0,0,0,0.6)]" *ngIf="visiblePopupFire">
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-[300px] md:max-w-[400px] w-full rounded-lg bg-white shadow-md py-8 px-4">
    <div class="flex justify-center flex-col items-center">
      <p class="text-center text-3xl text-red-500 font-bold">Hệ thống của bạn đang có nguy cơ cháy!</p>
      <img src="/assets/images/fire.png" alt="" class="w-32 h-32 my-4">

      <button class="px-6 py-2 rounded-md bg-blue-500 text-white" (click)="hidePopupFire()">Tôi đã biết</button>
    </div>
  </div>
</div>
<audio controls class="hidden" #audioFire>
  <source src="/assets/images/audio-fire.mp3" type="audio/mpeg">
</audio>

<!--
<div class="fixed top-0 left-0 w-full h-screen bg-[rgba(0,0,0,0.6)]" *ngIf="visiblePopupWarning"
  (click)="hidePopupWarning()">
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-[300px] md:max-w-[400px] w-full rounded-md bg-white shadow-md py-5">
    <p class="text-center mt-6 text-lg text-black font-semibold">Hệ thống của bạn đang gặp vấn đề?</p>
    <div class="flex items-center gap-10 justify-center mt-4">
      <button class="px-6 py-2 rounded-md bg-blue-500 text-white" (click)="hidePopupWarning()">Tôi đã biết</button>
    </div>
  </div>
</div> -->